@page
@model MinasBank.Areas.Me.Pages.IndexModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Sobre";
}

<div>
	<div>
		<h2 class="text-default" style=color:#ff0066>Sobre</h2>
	</div>
	<div>
		<p class="text-justify">
			O Women Dev é um projeto criado por Tais Dias para o TechDay, promovido pela Digital Innovation One em parceria com o Banco Carrefour.<br />
			O propósito desse projeto é dar visibilidade às mulheres que estão na área de Tecnologia, como também às que possuem interesse em entrar na área.
			<br />
			Por meio desse projeto é possível que qualquer mulher possa criar uma conta, passando seus dados de contato
			e assim expor um pouco sobre si mesma e ganhar visibilidade para conseguir novas conexões.
			<br />
			<br />
		</p>

		<div class="border backgroundWhite">
		<div>
			<h2 class="text-default" style=color:#ff0066>Tais Dias</h2>
		</div>
			<table>
			  <tr>
				<td><a href="https://github.com/taisdias76"><img width="300" height="400" src='/Images/Cliente/6df86873-79b8-433f-ad94-1500eb8cc0d7.me.jpg'/></a></td>
			
				<td class="fs-5"> Estudante de ciências de dados, atualmente trabalha como Help Desk  </br>
			e possui experiência
			com Linux, como também possui conhecimento em <br /> .NET C# e Python. <br /> <br />
			<b>Contatos: </b><br />
			<a href="https://github.com/taisdias76"><i class="fab fa-github"> </i></a> 
			<a href="https://www.linkedin.com/in/tais-d-carvalho/"><i class="fab fa-linkedin"> </i></a>
				</td> 
			  </tr>
			</table>
		</div>
	</div>
</div>