@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4" style=color:#ff0066>Mulheres que inspiram</h1>
</div>

<br />
<br />

<div class="row row-cols-1 row-cols-md-3 g-5 col-12">
  <div class="col">
    <div class="card">
      <img src="\Images\Cliente\11c435ac-2d1e-472f-97a8-1d6c8788bb13.grace.png" class="card-img-top" width="201" height="401" alt="...">
      <div class="card-body">
        <h5 class="card-title">Grace Hopper</h5>
        <p class="card-text">Hopper foi uma analista de sistemas da Marinha dos Estados Unidos, e enquanto atuava por lá desenvolveu a linguagem 
                  de programação Flow-Matic, que foi a primeira delas a ser adaptada para o idioma inglês. Essa linguagem, apesar de já extinta, serviu como base 
                  para a criação do COBOL (Common Business Oriented Language) – usado até os dias de hoje em processamento de bancos de dados comerciais. E, por isso, 
                  mesmo que ela não tenha participado efetivamente da criação dessa linguagem de programação, Grace Hopper ficou conhecida como a “vovó do COBOL” por 
                  ter desenvolvido a base para sua criação.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\Images\Cliente\9700b44d-14e8-46fe-8992-5f4373944334.Ada_lovelace.png" class="card-img-top" width="201" height="401" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ada Lovelace</h5>
        <p class="card-text">Matemática que criou o primeiro algoritmo para ser processado por uma máquina, 
            sendo a primeira programadora da história. Sim, Lovelace foi
            a primeira pessoa programadora de todos os tempos. Durante nove meses entre 1842-43, 
            Ada traduziu para Babbage a autobiografia de Luigi Menabrea, um matemático italiano. Isso serviu 
            para o novo mecanismo de Babbage; o Dispositivo Analítico. Ela anexou várias notas que mostravam 
            detalhadamente um método de calcular Números Bernoulli através do dispositivo, método esse reconhecido 
            pelos historiadores como o primeiro programa de computador do mundo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\Images\Cliente\086243a2-a7d9-4b5d-8477-132144258093.i305956.jpeg" class="card-img-top" width="201" height="401" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hedy Lamarr</h5>
        <p class="card-text">Durante a Segunda Guerra, Hedy Lamarr criou junto com o compositor e também inventor George Antheil um sofisticado aparelho de 
              interferência em rádio para despistar radares nazistas, cuja patente foi feita em 1940 usando seu nome de registro (Hedwig Eva 
              Maria Kiesler). A ideia surgiu quando a dupla estava fazendo um dueto ao piano e começaram a “conversar” entre si alterando os 
              controles do instrumento. Ou seja, Lamarr descobriu que, se o emissor e o receptor mudassem constantemente de frequência, somente 
              os dois poderiam se comunicar sem medo de serem interceptados pelo inimigo.</p>
      </div>
    </div>
  </div>
</div>