@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style=color:#ff0066>Mulheres que inspiram</h1>
</div>

<br />
<br />

<div class="container">
  <div class="row align-items-start">
    <div class="col">
        <div class="media">
          <img class="align-self-start mr-3" src="\Images\Cliente\11c435ac-2d1e-472f-97a8-1d6c8788bb13.grace.png" width="201" height="251" alt="Imagem de exemplo genérica">
          <div class="media-body">
            <h5 class="mt-2" style=color:#ff0066>Grace Hopper</h5>
                  Hopper foi uma analista de sistemas da Marinha dos Estados Unidos, e enquanto atuava por lá desenvolveu a linguagem 
                  de programação Flow-Matic, que foi a primeira delas a ser adaptada para o idioma inglês. Essa linguagem, apesar de já extinta, serviu como base 
                  para a criação do COBOL (Common Business Oriented Language) – usado até os dias de hoje em processamento de bancos de dados comerciais. E, por isso, 
                  mesmo que ela não tenha participado efetivamente da criação dessa linguagem de programação, Grace Hopper ficou conhecida como a “vovó do COBOL” por 
                  ter desenvolvido a base para sua criação.
          </div>
        </div>
    </div>
    <div class="col">
        <div class="media">
          <img class="align-self-start mr-3" src="\Images\Cliente\9700b44d-14e8-46fe-8992-5f4373944334.Ada_lovelace.png" width="201" height="251" alt="Imagem de exemplo genérica">
          <div class="media-body">
            <h5 class="mt-2" style=color:#ff0066>Ada Lovelace</h5>
              Matemática que criou o primeiro algoritmo para ser processado por uma máquina, sendo a primeira programadora da história. Sim, Lovelace foi
              a primeira pessoa programadora de todos os tempos, e não apenas a primeira mulher a escrever um código.
          </div>
        </div>
    </div>
    <div class="col">
        <div class="media">
          <img class="align-self-start mr-3" src="\Images\Cliente\086243a2-a7d9-4b5d-8477-132144258093.i305956.jpeg" width="201" height="251" alt="Imagem de exemplo genérica">
          <div class="media-body">
            <h5 class="mt-2" style=color:#ff0066>Hedy Lamarr</h5>
              Durante a Segunda Guerra, Hedy Lamarr criou junto com o compositor e também inventor George Antheil um sofisticado aparelho de 
              interferência em rádio para despistar radares nazistas, cuja patente foi feita em 1940 usando seu nome de registro (Hedwig Eva 
              Maria Kiesler). A ideia surgiu quando a dupla estava fazendo um dueto ao piano e começaram a “conversar” entre si alterando os 
              controles do instrumento. Ou seja, Lamarr descobriu que, se o emissor e o receptor mudassem constantemente de frequência, somente 
              os dois poderiam se comunicar sem medo de serem interceptados pelo inimigo.
          </div>
        </div>
    </div>
  </div>
</div>